<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
     <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Edu+TAS+Beginner:wght@500&family=Mochiy+Pop+One&display=swap" rel="stylesheet"> 
<link href="https://fonts.googleapis.com/css2?family=Edu+TAS+Beginner:wght@500&family=Mochiy+Pop+One&display=swap" rel="stylesheet"> 
<style type="text/css">
    #ad{
        font-family: 'Mochiy Pop One', sans-serif;;
    }
</style>
    <title>Cart</title>
</head>
<body>
    <h2 id="ad"> ${youe item is added}$</font></h3>
    <br><br><br><br><br>
    <center>
    <img src="static/sony 7a.jpg" width="150" height="150" />
<h4>an added item</h4></center>

</body>
</html>